html {
width: 100%; 
}

body {
	width: 100%;
	font-family: 'Dosis', Arial, sans-serif;
	background: #fff;
	font-weight: 400;
	font-size: 15px;
	color: #333;
	-webkit-font-smoothing: antialiased;
	
}



a {
	color: #9ea3b6;
	text-decoration: none;
}



#footer {
width: 100%;
z-index: 3000;
height: 80px;
position: fixed;
background-color: #000000;

}









#feedback-page{
	text-align:center;
}

#form-main{
	width:100%;
	float:left;
	padding-top:90px;
}

#form-div {
	background-color: transparent;
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
	float: left;
	left: 50%;
	position: absolute;
  margin-top:30px;
	margin-left: -260px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.feedback-input {
	color:#3c3c3c;
	font-family: 'Dosis';
  font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #F79B85;
	color: #F79B85;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
	color:#000000;
	border:#000000 solid 3px;
}

/* Icons ---------------------------------- */
#name{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#comment{
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-blue{
	font-family: 'Dosis';
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #F79B85;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #F79B85;
}
	
.submit:hover {
	color: #F79B85;
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}

 





/* ==========================================================================
   co drop's projects page
   ========================================================================== 
 */




.ps-container {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	text-transform: uppercase;
	color: #555;
	background: #fff;
}

.ps-container > div {
	position: absolute;
	width: 50%;
}

.ps-container > div > div,
.ps-slidewrapper > nav,
.ps-slides > div {
	position: absolute;
}



.ps-contentwrapper {
	top: 150px;
	bottom: 0px;
	overflow: hidden;
	z-index: 1000;
}

.ps-content {
	background: #fff;
	width: 100%;
	height: 100%;
	padding: 50px;
}

.ps-content h2 {
	color: #9ea3b6;
	padding: 10px 85px;
	border-right: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
	letter-spacing: 4px;
	margin: 10px 10px 30px;
	text-align: right;
	font-weight: 700;
}

.ps-content p {
	width: 70%;
	line-height: 26px;
	font-size: 12px;
	letter-spacing: 2px;
	word-spacing: 10px;
	padding: 10px 15px;
	font-weight: 400;
	text-align: justify;
	border-left: 1px solid #f2f2f2;
	border-top: 1px solid #f2f2f2;
}

.ps-content span.ps-price {
	float: left;
	margin: 10px;
	width: 140px;
	height: 140px;
	line-height: 140px;
	text-align: center;
	color: #fff;
	background: #f7cfc6;
	background: rgba(247,197,185,0.8);
	font-size: 55px;
	font-weight: 200;
}


.ps-content a {
margin-right: 100px;

}


.ps-content a:last-child {
	font-size: 14px;
	font-weight: 700;
	color: #9ea3b6;
	letter-spacing: 4px;
	float: right;
	border: 1px solid #9ea3b6;
	padding: 3px;
	text-indent: 4px;
}

.no-touch .ps-content a:last-child:hover {
	color: #b2d79d;
	border-color: #b2d79d;
}



.ps-slidewrapper {
	right: 0px;
	top: 0px;
	height: 100%;
	overflow: hidden;
}

.ps-slides {
	top: 0px;
	bottom: 200px;
	width: 100%;
}

.ps-slides > div {
	width: 100%;
	height: 100%;
	box-shadow: inset 0 0 0 9999px rgba(179,157,250,0.1);
}

.ps-slidewrapper > nav {
	width: 100%;
	height: 200px;
	bottom: 0px;
	right: 0px;
	z-index: 1000;
}

.ps-slidewrapper > nav > a {
	width: 50%;
	height: 100%;
	position: relative;
	float: left;
	box-shadow: inset 0 0 0 9999px rgba(207,227,206,0.8);
	outline: none;
}

.ps-slidewrapper > nav > a:first-child {
	box-shadow: inset 0 0 0 9999px rgba(233,217,141,0.8);
}

.no-touch .ps-slidewrapper > nav > a {
	-webkit-transition: box-shadow 0.4s ease-in-out;
	-moz-transition: box-shadow 0.4s ease-in-out;
	-ms-transition: box-shadow 0.4s ease-in-out;
	-o-transition: box-shadow 0.4s ease-in-out;
	transition: box-shadow 0.4s ease-in-out;
}

.no-touch .ps-slidewrapper > nav > a:hover {
	box-shadow: inset 0 0 0 9999px rgba(246,224,121,0.1);
}

.no-touch .ps-slidewrapper > nav > a:first-child:hover {
	box-shadow: inset 0 0 0 9999px rgba(249,15,15,0.1);
}

.ps-slidewrapper > nav > a:after {
	content: '';
	position: absolute;
	width: 100px;
	height: 100px;
	top: 50%;
	left: 50%;
	margin: -20px 0 0 -50px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
}

.ps-slidewrapper > nav > a:first-child:after {
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	transform: rotate(-135deg);
	margin: -80px 0 0 -50px;
}

.ps-slides > div,
.ps-slidewrapper > nav > a {
	background-color: #fff;
	background-position: center top;
	background-repeat: no-repeat;
	-webkit-background-size: auto 100%;
	-moz-background-size: auto 100%;
	background-size: auto 100%;
}

.ps-move {
	-webkit-transition: top 400ms ease-out;
	-moz-transition: top 400ms ease-out;
	-o-transition: top 400ms ease-out;
	-ms-transition: top 400ms ease-out;
	transition: top 400ms ease-out;
}



@media screen and (max-width: 860px) {

	.js .ps-container > div {
		width: 100%;
	}

	.js .ps-header {
		height: 50px;
	}

	.js .ps-header h1 {
		line-height: 50px;
		padding: 0px 20px;
		letter-spacing: 4px;
	}

	.js .ps-slides {
		bottom: 320px;
		top: 50px;
	}

	.js .ps-slidewrapper > nav {
		height: 100px;
	}

	.js .ps-contentwrapper {
		top: auto;
		height: 220px;
		bottom: 100px;
	}

	.js .ps-content {
		padding: 10px;
	}

	.js .ps-content h2 {
		border-right: none;
		font-size: 18px;
		margin: 10px 0;
		padding-top: 0;
	}

	.js .ps-content span.ps-price {
		font-size: 18px;
		width: 50px;
		height: 50px;
		line-height: 50px;
		font-weight: 700;
		margin-bottom: 0;
	}

	.js .ps-content p {
		line-height: 20px;
		border: none;
		padding: 5px 10px;
		height: 80px;
		overflow-y: scroll;
	}

	.js .ps-content a:last-child {
		font-size: 13px;
		margin: 10px 20px 0 0;
	}
}







/* ==========================================================================
   Home Page Responsive Slides
   ========================================================================== 
*/




.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  height: 600px;
  width: 100%;
  padding: 0;
  margin: 0;
}

.rslides li {
-webkit-backface-visibility: hidden;
position: absolute;
display: none;
width: 70%;
top: 140px;
left: 17%;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
 width: 100%;

  }


/*media queries for TABLET and mobile SIZE*/

@media only screen and (max-width: 900px) {
  

  .rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  height: 700px;
  width: 100%;
  padding: 0;
  margin: 0;
}

}

/* ==========================================================================
   About page
   ========================================================================== 
 */




#main {
position: absolute;
width: 70%;
top: 190px;
left: 17%;
background-color: #fafaf8;
padding: 30px;
padding-top: 20px;
}

#main h2 {
font-size: 18px;
color: #9ea3b6;
padding: 10px 85px;
border-right: 1px solid #f2f2f2;
border-bottom: 1px solid #f2f2f2;
letter-spacing: 4px;
margin: 10px 10px 30px;
text-align: right;
font-weight: 700;


}





#main p {
color: gray;
line-height: 26px;
font-size: 15px;
letter-spacing: 2px;
word-spacing: 10px;
padding: 10px 15px;
font-weight: 550;
text-align: justify;

}

p b {
color: #fdb4a1;

}

p .social-link {
color: #fdb4a1;
line-height: 26px;
font-size: 15px;
letter-spacing: 2px;
word-spacing: 10px;
padding: 10px 15px;
font-weight: 900;
text-align: justify;

}


.quote { 

color: gray;
size: 20px;
}




hr {

   display: block;
   position: relative;
   padding: 0;
   margin: 8px auto;
   height: 0;
   width: 100%;
   max-height: 0;
   font-size: 1px;
   line-height: 0;
   clear: both;
   border: none;
   border-top: 1px solid #aaaaaa;
   border-bottom: 1px solid #ffffff;

}

#social-links {
margin-left: 210px;


}


.socialicon {

padding: 8px;
}

/*media queries for TABLET and mobile SIZE*/

@media only screen and (max-width: 600px) {
  


#main {

top: 90px;
padding: 20px;
}


#main h2 {
font-size: 15px;


}







#main p {

font-size: 10px;


}

p .social-link {

font-size: 11px;
}

}

/* ==========================================================================
   Header style by Lauren Lopatko 
   ========================================================================== 
*/

#sumo {

	z-index: 5000000000000;
}

header {
width: 100%;
}



#top {
width: 100%;
z-index: 3000;
height: 80px;
position: fixed;
top: 0;
background-color: #f9f9f7;

}





.logo {
width: 380px;
padding-top: 3px;
}


.menu {
position: absolute;	/* IMPORTANT SO THAT IT STAYS IN TOP HEADER!! */
width: 100%;
top: 18px;
margin-left: 750px;
text-transform: uppercase;
text-decoration: none;
font-size: 18px; 
color: #9ea3b6;
opacity: 0.8;
padding: 15px;
padding-left: 40px;
font-family: 'Dosis';
}




.menulink {
 padding: 20px;

}




.menulink:hover{
color: #dddddd;
}


#linkbox {
background-color: #F79B85;
color: #fff;
font-weight: bold;
padding: 10px;
}

#linkbox:hover {
border: 1px solid #9ea3b6;
color: #F79B85;
background-color: rgba(255, 255, 255, 0.9);
text-shadow: none;
}




/*media queries for TABLET and mobile SIZE*/

@media only screen and (max-width: 900px) {




.menu {
width: 100%;
text-align: left;
margin-top: 0px;
margin-left: 190px;


}

.menulink {
visibility: visible;
margin-top: 0px;
margin-right: 10px;   
font-size: 13px;

}




.logo {

width: 40%;
padding-top: 20px;
}


}

/*media queries for TABLET and mobile SIZE*/

@media only screen and (max-width: 550px) {

#top {
width: 100%;
z-index: 3000;
height: 80px;
position: fixed;
top: 0;
background-color: #ffffff;

}

.logo {

width: 100%;
padding-top: 20px;

}


.menu {
width: 100%;
text-align: left;
margin-top: 0px;
margin-left: 20px;


}

			}


