<!DOCTYPE html>
<html lang="en">
  <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]><!-<html class="no-js"> [endif]-->
  <head>
    <meta charset="utf-8">
    <title>Lauren Lopatko - About</title>
    <meta name="description" content="Lauren Lopatko - Graphic Designer">
     <meta name="keywords" content="graphic designer, melbourne, freelance" />
    <meta name="author" content="Lauren Lopatko">
    
    <link rel='shortcut icon' type='image/x-icon' href='favicon.ico'/>

    <!--below makes sure page is scalable, fits screen etc-->
    <meta name="viewport" content="width=device-width, initial-scale=1" maximum-scale="1">

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" href="css/about.css">
    <link href='http://fonts.googleapis.com/css?family=Dosis:200,400,700' rel='stylesheet' type='text/css'>


<script id="sumo" src="//load.sumome.com/" data-sumo-site-id="650f1c57c7e6085ae4a11ce77a2ccf75c5cef74a74208260dc2b04df7c6cb903" async="async"></script>

    
    
    
    
    
    
    
  </head>
  

  

  <body>
    <!--
    888    888 8888888888        d8888 8888888b.  8888888888 8888888b.
    888    888 888              d88888 888  "88b 888        888   88b
    888    888 888             88P888 888    888 888        888    888
    8888888888 8888888        88P 888 888    888 8888888    888   88P
    888    888 888           88P  888 888    888 888        8888888P"
    888    888 888          d88P   888 888    888 888        888 T88b
    888    888 888         d8888888888 888  .d88P 888        888  T88b
    888    888 8888888888 d88P     888 8888888P"  8888888888 888   88b -->
    
    
   <header>
      <div id="top">
        
        <!--logo -->
        <a href="index.html"><img class="logo" src="img/laurenlopatko.png">
        </a> 
        
        <div>

  

    
        <!-- top menu-->
       
          
          <div class="menu">
          

          <a class="menulink" href="about.html" id="about">about</a>
          
          <a class="menulink" href="projects.html" id="projects">projects</a>
          

            <!--<a class="menulink" id="linkbox" href="worktogether.html">let's work together</a>-->

            <div>
        
         </header>  
    
    
    
    <!--
    888b     d888        d8888 8888888 888b    888
    8888b   d8888       d88888   888   8888b   888
    88888b.d88888      d88P888   888   88888b  888
    888Y88888P888     d88P 888   888   888Y88b 888
    888 Y888P 888    d88P  888   888   888 Y88b888
    888  Y8P  888   d88P   888   888   888  Y88888
    888   "   888  d8888888888   888   888   Y8888
    888       888 d88P     888 8888888 888    Y888
    
    
    "Y8888P"   "Y88888P"  888    Y888     888     8888888888 888    Y888     888
    -->
    
    
<div id="main">
<p class="quote">Design is moving an existing condition to a preferred one - Milton Glaser</p>

<hr>

<p><b>I really, really love what I do, and I like to keep busy,</b> because an active mind is a healthy mind. I'm a neat freak, perfectionist, night owl. My last name means spade in one language, and shoulder in another. I'm also probably the only Lauren Lopatko in the world, so that's kind of cool. 
<br>
<br>
<b>I draw inspiration from</b> Scandinavian design, minimalism, geometric shapes, pastel colours. See a nice little selection of moodboards <a href="https://www.pinterest.com/laurenloko/"><b>here</b></a> to get a feel of what inspires me.
<br>
<br>
Yes that's right, I <i>am</i> available for both freelance and permanent work! I currently live in Melbourne, Australia... but I'm portable. Who would say no to travel?
<br>
<br>
<b>M: 61 0428 999 449
  <br>
E: create@laurenlopatko.com</b></p>
<br>


<div id="social-links">
<a href="https://twitter.com/laurenlopatko"><img class="socialicon" src="img/twitter-amended.png"></a> 

<a href="http://instagram.com/laurenlopatko"><img class="socialicon" src="img/instagram-amended.png"></a> 

<a href="http://au.linkedin.com/in/laurenlopatko"><img class="socialicon" src="img/linkedin-amended.png"></a> 

<a href="http://be.net/laurenlopatko"><img class="socialicon" src="img/behance-amended.png"></a> 

<a href="http://pinterest.com/laurenlopatko/"><img class="socialicon" src="img/pinterest-amended.png"></a> 

<a href="http://laurenlopatko.tumblr.com"><img class="socialicon" src="img/tumblr-amended.png"></a> 

</div>




   <!--

</div> 


<div id="pinterest">
<a data-pin-do="embedUser" href="http://www.pinterest.com/laurenloko/" data-pin-scale-width="60" data-pin-scale-height="800" data-pin-board-width="150"></a>


<! Please call pinit.js only once per page 
<script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>

</div>
-->
      
      

  
   
    
    
    
  </body>
</html>