{% extends "layout.twig.html" %}

{% block title%}Lauren Lopatko - About{% endblock %}

{% block head %}
  <link rel="stylesheet" href="css/normalize.css">
{% endblock %}

{% block content %}
  <div class="main-wrapper">
    <div id="main">
      <p class="quote">Design is moving an existing condition to a preferred one - Milton Glaser</p>
      <hr>
      <p>
        I'm a graphic designer and digital illustrator based in Melbourne, Australia. 

Offering my abilities and advice to solving your design problems, I strive to help businesses and individuals create a brand image that reflects their values. 


        To contact me fill in the form <a href="https://www.laurenlopatko.com.au/contact">here</b></a>
   
      <br>
      <div id="social-links">
        <a href="https://twitter.com/laurenlopatko"><img class="socialicon" src="img/twitter-amended.png"></a>
        <a href="http://instagram.com/laurenlopatko"><img class="socialicon" src="img/instagram-amended.png"></a>
        <a href="http://au.linkedin.com/in/laurenlopatko"><img class="socialicon" src="img/linkedin-amended.png"></a>
        <a href="http://be.net/laurenlopatko"><img class="socialicon" src="img/behance-amended.png"></a>
        <a href="http://pinterest.com/laurenlopatko/"><img class="socialicon" src="img/pinterest-amended.png"></a>
      </div>
    </div>
  </div>
{% endblock %}
