{% extends "layout.twig.html" %}

{% block head %}
  <script src="js/responsiveslides.min.js"></script>
{% endblock %}

{% block content %}
  <div class="slide-wrapper">
    <a href="{{ path('projects') }}">
      <ul class="rslides">
        <li><img src="img/mi3dp2.png" alt=""></li>
        <li><img src="img/websitepromo.png" alt=""></li>
      </ul>
    </a>
  </div>
{% endblock %}

{% block footer %}
  <script>
    $(function() {
      $(".rslides").responsiveSlides();
    });
  </script>
{% endblock %}
