<!DOCTYPE html>
<html lang="en">
  <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]><!-<html class="no-js"> [endif]-->
  <head>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="__pliu3OSYnYo0FE7w81-HeR625Ad4vfxL-mF4ZvbxY" />
    <title>{% block title %}Lauren Lopatko{% endblock %}</title>
    <meta name="description" content="Lauren Lopatko - Graphic Designer">
    <meta name="keywords" content="graphic designer, melbourne, freelance" />
    <meta name="author" content="Lauren Lopatko">

    <link rel='shortcut icon' type='image/x-icon' href='favicon.ico'/>
    <!--below makes sure page is scalable, fits screen etc-->
    <meta name="viewport" content="width=device-width, initial-scale=1" maximum-scale="1">

    <link href='http://fonts.googleapis.com/css?family=Dosis:200,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    {% block head %}{% endblock %}
  </head>
  <body>
    <!--
      888    888 8888888888        d8888 8888888b.  8888888888 8888888b.
      888    888 888              d88888 888  "88b 888        888   88b
      888    888 888             88P888 888    888 888        888    888
      8888888888 8888888        88P 888 888    888 8888888    888   88P
      888    888 888           88P  888 888    888 888        8888888P"
      888    888 888          d88P   888 888    888 888        888 T88b
      888    888 888         d8888888888 888  .d88P 888        888  T88b
      888    888 8888888888 d88P     888 8888888P"  8888888888 888   88b
    -->
    <header>
      <div id="top">
        <!-- top menu-->
        <!--logo -->
        <a href="{{ path('home') }}" class="home-link"><img class="logo" src="img/laurenlopatko.png"></a>
        <div class="menu">
          <a class="menulink{% if active == 'about' %} active{% endif %}" href="{{ path('about') }}" id="about">about</a>
          <a class="menulink{% if active == 'projects' %} active{% endif %}" href="{{ path('projects') }}" id="projects">projects</a>
          <a class="menulink{% if active == 'contact' %} active{% endif %}" href="{{ path('contact') }}">contact</a>
          <!--<a class="menulink" id="linkbox" href="worktogether.html">let's work together</a> -->
        </div>
      </div>
    </header>
    <!--
      888b     d888        d8888 8888888 888b    888
      8888b   d8888       d88888   888   8888b   888
      88888b.d88888      d88P888   888   88888b  888
      888Y88888P888     d88P 888   888   888Y88b 888
      888 Y888P 888    d88P  888   888   888 Y88b888
      888  Y8P  888   d88P   888   888   888  Y88888
      888   "   888  d8888888888   888   888   Y8888
      888       888 d88P     888 8888888 888    Y888
    -->
    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}
  </body>
</html>
