{% extends "layout.twig.html" %}

{% block title %}Lauren Lopatko - Projects{% endblock %}

{% block head %}
  <script type="text/javascript" src="js/modernizr.custom.79639.js"></script>
  <noscript><link rel="stylesheet" type="text/css" href="css/noscript.css" /></noscript>
  <!--[if lte IE 8]><link rel="stylesheet" type="text/css" href="css/noscript.css" /><![endif]-->
{% endblock %}

{% block content %}
      <section id="ps-container" class="ps-container">
        <div class="ps-contentwrapper">
          {% for project in projects %}
            <div class="ps-content">
              <h2>{{ project.title }}</h2>
              <p>{{ project.description }}</p>
              <a href="{{ project.link }}">{{ project.link_text }}</a>
            </div>
          {% endfor %}
        </div><!-- /ps-contentwrapper -->
        <div class="ps-slidewrapper">
          <div class="ps-slides">
            {% for project in projects %}
              <div style="background-image:url({{ project.image }});"></div>
            {% endfor %}
          </div>
          <nav>
            <a href="#" class="ps-prev" ></a>
            <a href="#" class="ps-next" ></a>
          </nav>
        </div><!-- /ps-slidewrapper -->
      </section><!-- /ps-container -->
{% endblock %}

{% block footer %}
  <script type="text/javascript" src="js/slider.js"></script>
  <script type="text/javascript">
    $(function() {
      Slider.init();
    });
  </script>
{% endblock %}
