<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lauren Lopatko - Projects</title>
    <meta name="description" content="Lauren Lopatko - Graphic Designer" />
    <meta name="keywords" content="graphic designer, melbourne, freelance" />
    <meta name="author" content="Lauren Lopatko" />

    <link rel='shortcut icon' type='image/x-icon' href='favicon.ico' />

    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" href="css/projects.css">
    <link href='http://fonts.googleapis.com/css?family=Dosis:200,400,700' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="js/modernizr.custom.79639.js"></script>
    <noscript><link rel="stylesheet" type="text/css" href="css/noscript.css" /></noscript>
    <!--[if lte IE 8]><link rel="stylesheet" type="text/css" href="css/noscript.css" /><![endif]-->
    <script id="sumo" src="//load.sumome.com/" data-sumo-site-id="650f1c57c7e6085ae4a11ce77a2ccf75c5cef74a74208260dc2b04df7c6cb903" async="async"></script>
  </head>
  <body>
    <!--
      888    888 8888888888        d8888 8888888b.  8888888888 8888888b.
      888    888 888              d88888 888  "88b 888        888   88b
      888    888 888             88P888 888    888 888        888    888
      8888888888 8888888        88P 888 888    888 8888888    888   88P
      888    888 888           88P  888 888    888 888        8888888P"
      888    888 888          d88P   888 888    888 888        888 T88b
      888    888 888         d8888888888 888  .d88P 888        888  T88b
      888    888 8888888888 d88P     888 8888888P"  8888888888 888   88b -->
      <header>
        <div id="top">
          <!--logo -->
          <a href="index.html"><img class="logo" src="img/laurenlopatko.png"></a>
          <!-- top menu-->
          <div class="menu">
            <a class="menulink" href="about.html" id="about">about</a>
            <a class="menulink" href="projects.html" id="projects">projects</a>
            <!--<a class="menulink" id="linkbox" href="worktogether.html">let's work together</a>-->
          </div>
        </div>
      </header>
      <section id="ps-container" class="ps-container">
        <div class="ps-contentwrapper">
          <div class="ps-content">
            <h2>mi3DP</h2>
            <p>Branding Development of an icon and logotype as well as a family of sub brand graphics to accompany the company logo and icon for a startup I was involved in. </p>
            <a href="https://www.behance.net/gallery/24946671/mi3DP">See more on Behance</a>
          </div>
          <div class="ps-content">
            <h2>Mellow Minds</h2>
            <p>This pack was designed for a brief surrounding the idea of an existing Museum Victoria exhibition. I chose the exhibition on The Mind and circulated it around managing anxiety. The brief asked us to design the contents and graphics on an existing pack template.</p>
            <a href="https://www.behance.net/gallery/24946671/mi3DP">See more on Behance</a>
          </div>
          <div class="ps-content">
            <h2>Ralph's</h2>
            <p>Re-brand Development of an icon and logotype as well as a family to accompany the brand image. The family consisted of a literal ‘family’ of other main figureheads of this real-life family-owned butcher in South Melbourne. These were then applied to promotional materials such as stationery and branded merchandise.</p>
            <a href="https://www.behance.net/gallery/21925305/Ralphs-Meat-Company-Re-Brand">See more on Behance</a>
          </div>
          <div class="ps-content">
            <h2>App Interface</h2>
            <p>A recent university project for a subject based around info graphics and interfaces, designed for iPad.</p>
            <a href="https://www.behance.net/gallery/16881991/The-Praying-Mantis-App-Interface-Design">See more on Behance</a>
          </div>
          <div class="ps-content">
            <h2>Storio</h2>
            <p>I created a solution to a faux community and story-telling website whereby the main aim was to be responsive to different devices and window sizes. My target market spanned from 14-18 years old and I was inspired by the colours used on Vine - the popular video sharing app - as well as the concept of websites such as HelloGiggles and Cowbird.</p>
            <a href="https://www.behance.net/gallery/21925331/Storio-Responsive-Web-Design">See more on Behance</a>
          </div>
          <div class="ps-content">
            <h2>Sukin</h2>
            <p>A socially responsible campaign to further align Sukin’s brand image through the simplicity of caring - whether it be the purpose of the product of skin ‘care’, or the fact they simply align themselves as an environmentally (and socially) conscious brand.</p>
            <a href="https://www.behance.net/gallery/24953163/Sukin-We-Give-Back">See more on Behance</a>
          </div>
        </div><!-- /ps-contentwrapper -->
        <div class="ps-slidewrapper">
          <div class="ps-slides">
            <div style="background-image:url(img/mi3dp.png);"></div>
            <div style="background-image:url(img/mellow.png);"></div>
            <div style="background-image:url(img/ralphs.png);"></div>
            <div style="background-image:url(img/appinterface.png);"></div>
            <div style="background-image:url(img/storio.png);"></div>
            <div style="background-image:url(img/sukin.png);"></div>
          </div>
          <nav>
            <a href="#" class="ps-prev" ></a>
            <a href="#" class="ps-next" ></a>
          </nav>
        </div><!-- /ps-slidewrapper -->
      </section><!-- /ps-container -->
      <!-- jQuery if needed -->
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
      <script type="text/javascript" src="js/slider.js"></script>
      <script type="text/javascript">
        $(function() {
          Slider.init();
        });
      </script>
  </body>
</html>
