#projects {

font-size: 18px;  
text-transform: uppercase;
color: #9ea3b6;
padding: 10px;
margin-left: 20px;
text-decoration: underline;

}


/*media queries for TABLET and mobile SIZE*/

@media only screen and (max-width: 900px) {


#projects {

font-size: 13px;  
text-transform: uppercase;
color: #9ea3b6;
padding: 10px;
margin-left: 20px;
text-decoration: underline;

}


	}