html {
	width: 100%;
}

body {
	width: 100%;
	font-family: 'Dosis', Arial, sans-serif;
	background: #fff;
	font-weight: 400;
	font-size: 15px;
	color: #333;
	-webkit-font-smoothing: antialiased;
}

a {
	color: #9ea3b6;
	text-decoration: none;
}

.submit:hover {
	color: #F79B85;
}

/* ==========================================================================
   co drop's projects page
   ==========================================================================
 */

.ps-container {
	position: absolute;
	top: 80px;
	width: 100%;
	height: calc(100% - 80px);
	overflow: hidden;
	text-transform: uppercase;
	color: #555;
	background: #fff;
}

.ps-container > div {
	position: absolute;
	width: 50%;
}

.ps-container > div > div,
.ps-slidewrapper > nav,
.ps-slides > div {
	position: absolute;
}

.ps-contentwrapper {
	top: 150px;
	bottom: 0;
	overflow: hidden;
	z-index: 1000;
}

.ps-content {
	background: #fff;
	width: 100%;
	height: 100%;
	padding: 50px;
}

.ps-content h2 {
	color: #9ea3b6;
	padding: 10px 85px;
	border-right: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
	letter-spacing: 4px;
	margin: 10px 10px 30px;
	text-align: right;
	font-weight: 700;
}

.ps-content p {
	width: 70%;
	line-height: 26px;
	font-size: 12px;
	letter-spacing: 2px;
	word-spacing: 10px;
	padding: 10px 15px;
	font-weight: 400;
	text-align: justify;
	border-left: 1px solid #f2f2f2;
	border-top: 1px solid #f2f2f2;
}

.ps-content span.ps-price {
	float: left;
	margin: 10px;
	width: 140px;
	height: 140px;
	line-height: 140px;
	text-align: center;
	color: #fff;
	background: #f7cfc6;
	background: rgba(247,197,185,0.8);
	font-size: 55px;
	font-weight: 200;
}

.ps-content a {
	margin-right: 100px;
}

.ps-content a:last-child {
	font-size: 14px;
	font-weight: 700;
	color: #9ea3b6;
	letter-spacing: 4px;
	float: right;
	border: 1px solid #9ea3b6;
	padding: 3px;
	text-indent: 4px;
}

.no-touch .ps-content a:last-child:hover {
	color: #b2d79d;
	border-color: #b2d79d;
}

.ps-slidewrapper {
	right: 0;
	top: 0;
	height: 100%;
	overflow: hidden;
}

.ps-slides {
	top: 0;
	bottom: 200px;
	width: 100%;
}

.ps-slides > div {
	width: 100%;
	height: 100%;
	box-shadow: inset 0 0 0 9999px rgba(179,157,250,0.1);
}

.ps-slidewrapper > nav {
	width: 100%;
	height: 200px;
	bottom: 0;
	right: 0;
	z-index: 1000;
}

.ps-slidewrapper > nav > a {
	width: 50%;
	height: 100%;
	position: relative;
	float: left;
	box-shadow: inset 0 0 0 9999px rgba(207,227,206,0.8);
	outline: none;
}

.ps-slidewrapper > nav > a:first-child {
	box-shadow: inset 0 0 0 9999px rgba(233,217,141,0.8);
}

.no-touch .ps-slidewrapper > nav > a {
	-webkit-transition: box-shadow 0.4s ease-in-out;
	-moz-transition: box-shadow 0.4s ease-in-out;
	-ms-transition: box-shadow 0.4s ease-in-out;
	-o-transition: box-shadow 0.4s ease-in-out;
	transition: box-shadow 0.4s ease-in-out;
}

.no-touch .ps-slidewrapper > nav > a:hover {
	box-shadow: inset 0 0 0 9999px rgba(246,224,121,0.1);
}

.no-touch .ps-slidewrapper > nav > a:first-child:hover {
	box-shadow: inset 0 0 0 9999px rgba(249,15,15,0.1);
}

.ps-slidewrapper > nav > a:after {
	content: '';
	position: absolute;
	width: 100px;
	height: 100px;
	top: 50%;
	left: 50%;
	margin: -20px 0 0 -50px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
}

.ps-slidewrapper > nav > a:first-child:after {
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	transform: rotate(-135deg);
	margin: -80px 0 0 -50px;
}

.ps-slides > div,
.ps-slidewrapper > nav > a {
	background-color: #fff;
	background-position: center top;
	background-repeat: no-repeat;
	-webkit-background-size: auto 100%;
	-moz-background-size: auto 100%;
	background-size: auto 100%;
}

.ps-move {
	-webkit-transition: top 400ms ease-out;
	-moz-transition: top 400ms ease-out;
	-o-transition: top 400ms ease-out;
	-ms-transition: top 400ms ease-out;
	transition: top 400ms ease-out;
}

@media screen and (max-width: 860px) {
	.js .ps-container > div {
		width: 100%;
	}

	.js .ps-header {
		height: 50px;
	}

	.js .ps-header h1 {
		line-height: 50px;
		padding: 0 20px;
		letter-spacing: 4px;
	}

	.js .ps-slides {
		bottom: 320px;
		top: 50px;
	}

	.js .ps-slidewrapper > nav {
		height: 100px;
	}

	.js .ps-contentwrapper {
		top: auto;
		height: 220px;
		bottom: 100px;
	}

	.js .ps-content {
		padding: 10px;
	}

	.js .ps-content h2 {
		border-right: none;
		font-size: 18px;
		margin: 10px 0;
		padding-top: 0;
	}

	.js .ps-content span.ps-price {
		font-size: 18px;
		width: 50px;
		height: 50px;
		line-height: 50px;
		font-weight: 700;
		margin-bottom: 0;
	}

	.js .ps-content p {
		line-height: 20px;
		border: none;
		padding: 5px 10px;
		height: 80px;
		overflow-y: scroll;
	}

	.js .ps-content a:last-child {
		font-size: 13px;
		margin: 10px 20px 0 0;
	}
}

/* ==========================================================================
   Home Page Responsive Slides
   ==========================================================================
*/

.slide-wrapper {
	height: calc(100vh - 80px);
	width: 100%;
	display: flex;
	align-items: center;
  justify-content: center;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  max-height: 80%;
  width: 100%;
  padding: 0;
}

.rslides li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
}

.rslides li:first-child {
	position: relative;
	display: block;
	float: left;
}

.rslides img {
	display: block;
	max-height: 100%;
	max-width: 100%;
}
/*media queries for TABLET and mobile SIZE*/

@media only screen and (max-width: 900px) {
  .rslides {
  	position: relative;
  	list-style: none;
  	overflow: hidden;
  	max-height: 700px;
  	width: 100%;
  	padding: 0;
  	margin: 0;
	}
}

/* ==========================================================================
   About page
   ==========================================================================
 */

.main-wrapper {
	height: calc(100vh - 80px);
	display: flex;
	overflow: auto;
	align-items: center;
	justify-content: center;
}

#main {
	width: 70%;
	background-color: #fafaf8;
	padding: 30px;
	padding-top: 20px;
}

#main h2 {
	font-size: 18px;
	color: #9ea3b6;
	padding: 10px 85px;
	border-right: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
	letter-spacing: 4px;
	margin: 10px 10px 30px;
	text-align: right;
	font-weight: 700;
}

#main p {
	color: gray;
	line-height: 26px;
	font-size: 15px;
	letter-spacing: 2px;
	word-spacing: 10px;
	padding: 10px 15px;
	font-weight: 500;
	text-align: justify;
}

p b {
	color: #fdb4a1;
}

p .social-link {
	color: #fdb4a1;
	line-height: 26px;
	font-size: 15px;
	letter-spacing: 2px;
	word-spacing: 10px;
	padding: 10px 15px;
	font-weight: 900;
	text-align: justify;
}

.quote {
	color: gray;
	size: 20px;
}

hr {
	display: block;
	position: relative;
	padding: 0;
	margin: 8px auto;
	height: 0;
	width: 100%;
	max-height: 0;
	font-size: 1px;
	line-height: 0;
	clear: both;
	border: none;
	border-top: 1px solid #aaaaaa;
	border-bottom: 1px solid #ffffff;
}

#social-links {
	margin-left: 210px;
}
.socialicon {
	padding: 8px;
}


/* ==========================================================================
   Header style by Lauren Lopatko
   ==========================================================================
*/

header {
	width: 100%;
	z-index: 3000;
	height: 80px;
	background-color: #f9f9f7;
}

header .home-link {
	display: inline-block;
	float: left;
	height: 80px;
}

.logo {
	width: auto;
	height: 80px;
	display: inline-block;
}

.menu {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 18px;
	color: #9ea3b6;
	opacity: 0.8;
	padding: 31px 21px 21px 21px;
	height: 28px;
	float: right;
	font-family: 'Dosis';
}

.menulink {
 	padding: 10px;
	margin: 10px;
 	line-height: 18px;
}
.menulink:hover{
	color: #dddddd;
}
.menulink.active {
	padding-bottom: 9px;
	border-bottom: 1px solid #9ea3b6;
	font-weight: bold;
}

.menulink.contact {
	background: white;
	padding: 9px;
	border: 1px solid #9ea3b6;
}

.menulink.active.contact,
.menulink.contact:hover {
	background: pink;
	padding: 9px;
	border: 1px solid #9ea3b6;
	color: white;
}

#linkbox {
	background-color: #F79B85;
	color: #fff;
	font-weight: bold;
	padding: 10px;
}

#linkbox:hover {
	border: 1px solid #9ea3b6;
	color: #F79B85;
	background-color: rgba(255, 255, 255, 0.9);
	text-shadow: none;
}

/*media queries for TABLET and mobile SIZE*/

@media only screen and (max-width: 900px) {
	header {
		height: 138px;
	}
	.logo {
		max-width: 100%;
		max-height: 100%;
	}
	.menu {
		width: 100%;
		padding: 0;
		display: flex;
		justify-content: space-between;
	}
	.menulink,
	.menulink.active,
	.menulink.contact.active {
		max-width: calc(33%);
		display: inline-block;
		text-align: center;
	}
	.menulink,
	.menulink.active,
	.menulink.contact,
	.menulink.contact.active,
	.menulink.contact.active:hover {
		padding-bottom: 28px !important;
	}
	.ps-container {
		height: calc(100vh - 138px);
		top: 138px;
	}
	.ps-slides {
		top: 0 !important;
	}
	.slide-wrapper {
		height: calc(100vh - 138px);
	}
	.main-wrapper {
		height: calc(100vh - 138px);
		align-items: baseline;
	}
	.form-wrapper {
		height: calc(100vh - 138px);
		width: 100% !important;
		overflow: auto;
		margin: 0 !important;
		padding: 10px;
	}
	#main {
		width: 100%;
		background: white;
	}
	#social-links {
		display: flex;
		flex-flow: wrap;
		max-width: 100%;
		margin-left: 0;
		justify-content: center;
		align-items: center;
	}
	#social-links a {
		margin: 10px;
	}
}
